<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="icon" href="/assets/favicon.png">
		</head>
		<body>
			<div>
				<img class="logo" src="/assets/logo.png" alt="BAL Logo" height="100">
				<img class="logo" src="/assets/tsa.png" height="100" style="margin-left:85%">
			</div>

			<h1>BAL Robotics</h1>
			<div class="navbar">
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
							<li><a href="/robot">Our Robot</a></li>
	        		<li><a href="/technology">Technology</a></li>
	        		<li><a href="/applications">Applications</a></li>
							<li><a href="/safety">Safety</a></li>
							<li><a href="/tsa">TSA</a></li>
	    		</ul>
			</nav>
			</div>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:BALRobotics@gmail.com">email us</a></li>
	        		</ul>
			</footer>
		</body>
	</html>
