<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="navbar">
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/technology">Technology</a></li>
	        		<li><a href="/applications">Applications</a></li>
							<li><a href="/safety">Safety</a></li>
	    		</ul>
			</nav>
		</div>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:eastvaperobotics@gmail.com">email us</a></li>
	        		</ul>
			</footer>
		</body>
	</html>
